* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color: white;
    width: 100%;
    height: 100vh;

}
p {
    font-size: 2.4rem;
    line-height: 1.5;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 15vh;
    border-bottom: 2px solid grey;
}
.hdlogo {
    width: 5rem;
    height: 5rem;
}
ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    overflow: hidden;
}
  
  li {
    float: left;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;;
}
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
  }
  li a:hover {
    color: green;
  }
  .btn {
    width: 35rem;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    margin-left: 35rem;
  }
  .btn1 {
    background-color:inherit;
    color:rgb(5, 5, 5);
    border:0px;
    border-radius: 20px;
    padding:9px 10px;
    font-weight: 700;
    font-size: 1.4rem;
}
.btn1 a:hover {
    color: rgb(18, 148, 18);
}
.btn2 {
    background-color:inherit;
    color:rgb(5, 5, 5);
    border:1px solid black;
    border-radius: 20px;
    padding:7px 12px;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 3rem;
}
.btn3 {
    background-color:black;
    color:white;
    border:1px solid black;
    border-radius: 20px;
    padding:7px 13px;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 2rem;
}
button a {
    text-decoration: none;
    color: inherit;

}
.mdivv {
    display: flex;
    top: 25px;
    width: 100%;
    height: 96vh;
    background-color: rgb(211, 232, 225);
}
.sectii {
    width: 50vw;
    height: 96vh;
    font-size: 3rem;
    color: rgb(15,70,47);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secti {
    width: 50vw;
    height: 96vh;
}
.secti img {
    max-width: 100%;
    height: 100%;
}
.mdiv {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    height: 96vh;
    background-color: rgb(253,216,247);
}
.sect1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgb(15,70,47);
    text-align: center;
    width: 50vw;
    height: 96vh;
}
.sect1i {
    width: 50vw;
    height: 96vh;
}
.sect1i img {
    max-width: 100%;
    height: 100%;
}
.btn4 {
    background-color:inherit;
    color:rgb(15,70,47);
    border:1px solid black;
    border-radius: 20px;
    padding:7px 12px;
    margin: 25px;
    font-weight: 600;
    font-size: 1.4rem;
}
.mdiv1 {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    height: 62.5vh;
}
.sect2 {
    width: 50vw;
    height: 62.5vh;

}
.sect2 img{
    max-width: 100%;
    height: 100%;
}
.sect2i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    width: 50vw;
    height: 62.5vh;
    background-color: rgb(151,216,177);
}
.btn5 {
    background-color:inherit;
    color:rgb(15,70,47);
    border:1px solid black;
    border-radius: 20px;
    padding:7px 12px;
    margin: 25px;
    font-weight: 700;
    font-size: 1.6rem;
}
.mdiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    height: 90vh;
    background-color: rgb(206,232,201);
}
.sect3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 90vh;
    text-align: center;
    font-size: 3rem;
    color: rgb(15,70,47);
}
.sect3i {
    width: 50%;
    height: 90vh;
    width: 50vw;
    height: 90vh;
}
.sect3i img {
    max-width: 100%;
    height: 100%;
}
.mdiv3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("./Assets/img/downloadbg.png");
    width: 100%;
    height: 80vh;
    background-size: cover;
    color: white;
    margin-top: 2rem;
}
.sect4 {
    font-size: 3rem;
    text-align: center;
    margin-right: 10rem;
}
.btn6 {
    background-color:inherit;
    color:white;
    border:1px solid white;
    border-radius: 20px;
    padding:7px 12px;
    margin: 25px;
    font-weight: 700;
    font-size: 1.6rem;
}
.mdiv4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    height: 63vh;
    background-color: rgb(212,233,226);
    color: rgb(15,70,47);

}
.sect5 {
    font-size: 2.5rem;
    width: 50vw;
    height: 63vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sect5i {
    height: 63vh;
    width: 50vw;
}
.sect5i img {
    max-width: 100%;
    height: 100%;
}
#lstd {
    font-size: 2rem;
}
.mdiv5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    height: 20vh;
    text-align: center;
    font-size: 1.7rem;
    padding-top: 20px;
    line-height: 1.5;
    border-bottom: 2px solid grey;
    color: rgb(14, 61, 22);
}
.foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100;
    height: 80vh;
    border-bottom: 2px solid grey;

}
.footone {
    width: 18vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 2;
    text-decoration: none;
}
.foot a {
    text-decoration: none;
    color: grey;
}
.foottwo {
    width: 20vw;
    height: 50vh;
    font-size: 1.6rem;
    line-height: 2;
    width: 13vw;
    text-decoration: none;
}
.foot3 {
    width: 18vw;
    height: 50vh;
    font-size: 1.6rem;
    line-height: 2;
    width: 14vw;
    text-decoration: none;
}
.foot4 {
    width: 18vw;
    height: 50vh;
    font-size: 1.6rem;
    line-height: 2;
    width: 14vw;
    text-decoration: none;
}
.foot5 {
    width: 18vw;
    height: 50vh;
    font-size: 1.6rem;
    line-height: 2;
    text-decoration: none;
    width: 14vw;
}
footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 75vh;
        line-height: 2;
}
.foot6 {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 2.5;
    text-decoration: none;
    width: 13vw;
    margin-left: 5rem;
    margin-top: 2rem;
}
footer a {
    text-decoration: none;
    color:black;
}
footer p {
    margin-left: 5rem;
}
.lstfoot {
    top: 420px;
    left: 50px;
    font-size: 1.5rem;
    color: grey;
}
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 5rem;
    margin-left: 2rem;
    margin-top: 2rem;

}
.social-icon i {
    font-size: 3.5rem;
    padding-left: 2rem;
}


@media (max-width: 1200px) {
    .btn {
        width: 30rem;
        margin-left: 25rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    header {
        height: auto;
        flex-direction: row;
        padding: 1rem;
    }

    .hdlogo {
        width: 5rem;
        height: 5rem;
    }

    ul {
        padding-left: 0;
        display: none;
        justify-content: center;
    }

    li {
        float: none;
        font-size: 1.4rem;
    }

    .btn {
        width: 35rem;
        margin-left: 2rem;
        margin-top: 1rem;
        flex-direction: row;
    }

    .btn1, .btn2, .btn3 {
        margin-left: 0;
        margin-top: 0.5rem;
    }
    .mdivv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 110vh;
    }
    .secti,.sect1, .sectii, .sect2, .sect2i, .sect3, .sect3i, .sect4, .sect5, .sect5i {
        width: 100%;
    }
    .sect1i {
        width: 100%;
        align-items: center;
        padding-left: 5rem;
    }
    .sect1i {
    max-width: 100%;
    height: auto;
    }
    .mdiv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 115vh;
        padding-top: 5rem;
        padding-bottom: 5rem;

    }
    .mdiv1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 115vh;
        padding-top: 5rem;
    }
    .mdiv2 {
        flex-direction: column;
        height: 115vh;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .mdiv4 {
        flex-direction: column;
        text-align: center;
        height: 115vh;
        padding-top: 5rem;
        padding-bottom: 5rem;
        
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.658);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 7rem;
    }
}

@media (max-width: 996px) {
    header {
        height: auto;
        flex-direction: row;
    }

    .hdlogo {
        width: 5rem;
        height: 5rem;
    }

    ul {
        flex-direction: row;
        padding-left: 0;
        display: none;
    }

    li {
        font-size: 1.2rem;
    }

    .btn {
        width: 100%;
        margin-left: 0;
        flex-direction: row;
        padding: 0;
    }

    .btn1, .btn2, .btn3 {
        margin-left: 0;
        margin-top: 0.5rem;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.658);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 7rem;
    }
    .foot {
        height: 85vh;
        padding-bottom: 10rem;
    }
}